import { NgModule } from '@angular/core';
import { Routes, RouterModule } from '@angular/router';

import { [classNameMaj]ListPage } from './[classNameMin]-list.page';

const routes: Routes = [
  {
    path: '',
    component: [classNameMaj]ListPage
  }
];

@NgModule({
  imports: [RouterModule.forChild(routes)],
  exports: [RouterModule],
})
export class [classNameMaj]ListPageRoutingModule {}
