public ResponseEntity<Optional<[classNameMaj]>> getById(@PathVariable [primaryType] [primaryNameMin]){
     Optional<[classNameMaj]> obj = repo.findById([primaryNameMin]);
     return new ResponseEntity<>(obj,HttpStatus.OK);
}