public ResponseEntity<[classNameMaj]> update([controllerMethodParameter],@PathVariable [primaryType] [primaryNameMin]){
    if (repo.existsById([primaryNameMin])) {
        obj.set[primaryNameMaj]([primaryNameMin]);    
        return new ResponseEntity<>(repo.save(obj),HttpStatus.OK);
    }else {
            return new ResponseEntity<>(HttpStatus.BAD_REQUEST);
    }
}